{% load static %}
{% load utilitytags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SmartP</title>
	<meta charset="UTF-8">
	<meta name="description" content="SmartP">
	<meta name="keywords" content="lab, onepage, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

	<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader">
			<img src="{% static 'img/logo.png' %}" alt="">
			<h2>Loading.....</h2>
		</div>
	</div>


	<!-- Header section -->
	<header class="header-section">
		<div class="logo">
			<img src="{% static 'img/logosmall.png' %}" alt=""><!-- Logo -->
		</div>
		<!-- Navigation -->
		<div class="responsive"><i class="fa fa-bars"></i></div>
		<nav>
			<ul class="menu-list">
				<li class="active"><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'favourite' %}">Favourite</a></li>
					<li><a href="{% url 'logout' %}">Log out</a></li>
				{% else %}
					<li><a href="{% url 'register' %}">Register</a></li>
					<li><a href="{% url 'login' %}">Log in</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<!-- Header section end -->



	<!-- Intro Section -->
	<main role="main" id="main">
		<section class="jumbotron text-center">
        	<div class="container" id="search">
          		<img src="{% static 'img/logo.png' %}" alt="Logo">
          		<p class="lead text-muted2">
			  		Revolutionary app that will ease your problems with parking.
		  		</p>
          		<p>
					{% if user.is_authenticated %}
					{% else %}
            			<a href="{% url 'login' %}" class="site-btn mr20">Login</a>
						<a href="{% url 'register' %}" class="site-btn mr20">Register</a>
					{% endif %}
          		</p>
				<br/>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<form class="card card-sm" method="GET">
							<div class="card-body row no-gutters align-items-center">
								<div class="col-auto">
									<i class="fas fa-search h4 text-body"></i>
								</div>
								<div class="col">
									<input class="form-control form-control-lg form-control-borderless" type="search" name="query" value="{{ request.GET.query }}" placeholder="Search parking lot address or name">
								</div>
								<div class="col-auto">
									<button class="site-btn mr20 ml20" type="submit">Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>
        	</div>
      	</section>

		<div class="album py-5 bg-light" id="content">
			<div class="container">
				<div class="row">
					{% if query|length == 0 %}
					<h3>No results found! Slut up</h3>
					{% endif %}
					{% for obj in query %}
					 <div class="col-md-4">
             			 <div class="card mb-4 box-shadow">
							 {% if obj.photo_set.all.first.photo == None %}
							 	<img class="card-img-top imag" src="{% static 'img/park/NoImage.png' %}" alt="Parking lot img" onclick="parkingDetail({{obj.id}});">
							 {% else %}
                				<img class="card-img-top imag" src="{% static obj.photo_set.all.first.photo %}" alt="Parking lot img" onclick="parkingDetail({{obj.id}});">
							 {% endif %}
							 <div class="card-body">
                  				<p class="card-text">
									{{obj.name}}
								 	<br>
									Address: {{obj.address}},	{{obj.town.name}}
								</p>
                  				<div class="d-flex justify-content-between align-items-center">
                    				<div class="btn-group">
                      					<button type="button" class="btn btn-sm btn-outline-secondary2" onclick="parkingDetail({{obj.id}});">View details</button>
										{% if user.is_authenticated %}
											{% if obj|is_favourite:user is False %}
											<button type="button" class="btn btn-sm btn-outline-secondary2 likeButton" data-obj_id="{{obj.id}}">Like</button>
											{% else %}
											<button type="button" class="btn btn-sm btn-outline-secondary2 dislikeButton" data-obj_id="{{obj.id}}">Dislike</button>
											{% endif %}
										{% endif %}
                    				</div>
                    				<small class="text-muted">{{obj.town.country.name}}</small>
                  				</div>
                			</div>
						 </div>
					 </div>
					{% endfor %}
				</div>
					{% if query.has_other_pages %}
				<div class="row">
						<div class="col-md-12">
							<!--<div class="row">-->
							<div class="text-xs-center">
							<ul class="pagination">
								{% if query.has_previous %}
									<li class="page-item"><a class="page-link" href="?page={{ query.previous_page_number }}">&laquo;</a></li>
								{% else %}
									<li class="disabled page-item"><span class="page-link">&laquo;</span></li>
								{% endif %}
								{% for i in query.paginator.page_range %}
								{% if query.number == i %}
									<li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
								{% else %}
									<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
								{% endif %}
								{% endfor %}
								{% if query.has_next %}
									<li class="page-item"><a  class="page-link" href="?page={{ query.next_page_number }}">&raquo;</a></li>
								{% else %}
									<li class="disabled page-item"><span class="page-link" >&raquo;</span></li>
								{% endif %}
							</ul>
							</div>
							<!--</div>-->
						</div>
				</div>
				{% endif %}

			</div>
		</div>

		<div id="parking-detail" style="visibility: hidden; position: fixed; bottom: -1000px; width: 100%;"></div>
	</main>
	<!-- Intro Section -->


	<!-- Footer section -->
	<footer class="footer-section">
		<h2>2017 All rights reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></h2>
	</footer>
	<!-- Footer section end -->




	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/carousel.js' %}"></script>
	<script type="text/javascript">

		function parkingDetail(id){
			$.ajax({
				url: "/home/" + id,
				success: function(result){
				    $("#content").css("opacity", 0.3);
				    $("#search").css("opacity", 0.3);
				    $("#parking-detail").css("opacity", 1);
				    $("#parking-detail").css("visibility", "visible");
    				$("#parking-detail").html(result);
    				$("#parking-detail").animate({bottom: 0}, 500);
  				}
			});
		}

		function hideDetail(){
		    $("#parking-detail").animate({bottom: -1000}, -500);
		    $("#parking-detail").css("visibility", "hidden");
		    $("#content").css("opacity", 1);
			$("#search").css("opacity", 1);

		}

		$('.dislikeButton').on('click',
			function(){
		    	btn = $(this);
				uid = {{user.id}};
		    	p_id = this.dataset.obj_id;
				$.ajax({
					url: "/dislike/" + p_id,
					success: function (result) {
						console.log("ide dislike");
						btn.removeClass("dislikeButton").addClass("likeButton").text("Like");
					}
				});
			}
		);

		$('.likeButton').on('click',
			function(){
		    btn = $(this);
		    	u_id = {{user.id}};
		    	p_id = this.dataset.obj_id;
				console.log(u_id,p_id);
				$.ajax({
					url: "/addfav/" + p_id,
					success: function(result){
						console.log("ide to");
						btn.removeClass("likeButton").addClass("dislikeButton").text("Dislike");
					}
				});
			}
		);

	</script>
</body>
</html>
